<button class="btn btn-primary" routerLink="customdirectives">Custom-Directives</button> 
<button class="btn btn-primary" routerLink="pipes">Pipes</button> 
<button class="btn btn-primary" routerLink="ReactWithRxjs">ReactWithRxjs</button> 
<button class="btn btn-primary" routerLink="ReactForms">ReactForms</button> 
<button class="btn btn-primary" routerLink="ModelDrivenForms">ModelDrivenForms</button> 
<button class="btn btn-primary" routerLink="ModelDrivenFormsValidation">ModelDrivenFormsValidation</button> 
<button class="btn btn-primary" routerLink="SubmitRestForm">SubmitRestForm</button> 
<button class="btn btn-primary" routerLink="HttpAPI">HttpAPI</button> 



<div>
<router-outlet></router-outlet>
</div>